<div id="alternatives" class="tab-pane">
	<div id="alternatives_content" class="collapse">
		<p class="text-center"> ... </p>
	</div>
	<p class="text-center"><a data-toggle="collapse" data-target="#alternatives_content" id="alternatives_content_switch" style="cursor: pointer"> <i class="icon-chevron-down"></i> </a></p>
	<button class="btn btn-primary" type="button" id="create_new_alternative"> <i class='icon-plus-sign icon-white icon-large'></i> Create new Alternative </button>
	<hr />
	<div class="tabbable">
	    <ul class="nav nav-tabs">
		    <li class="active"> <a href="#prob_active_alts" data-toggle="tab">Active Alternatives</a> </li>
		    <li> <a href="#prob_pending_alts" data-toggle="tab">Pending Alternatives</a> </li>
		    <li> <a href="#prob_rejected_alts" data-toggle="tab">Rejected Alternatives</a> </li>
	    </ul>
	    <div class="tab-content">
	    	<div id="prob_active_alts" class="tab-pane active">
			</div>
			<div id="prob_pending_alts" class="tab-pane">
			</div>
			<div id="prob_rejected_alts" class="tab-pane">
			</div>
    	</div>
	</div>
</div>