<div id="criteria" class="tab-pane">
	<div id="criteria_content" class="collapse">
		<p class="text-center"> ... </p>
	</div>
	<p class="text-center"><a data-toggle="collapse" data-target="#criteria_content" id="criteria_content_switch" style="cursor: pointer"> <i class="icon-chevron-down"></i> </a></p>
	<button class="btn btn-primary" type="button" id="create_new_criteria"> <i class='icon-plus-sign icon-white icon-large'></i> Create new Criterium </button>
	<hr />
	<div class="tabbable">
	    <ul class="nav nav-tabs">
		    <li class="active"> <a href="#prob_active_criteria" data-toggle="tab">Active Criteria</a> </li>
		    <li> <a href="#prob_pending_criteria" data-toggle="tab">Pending Criteria</a> </li>
		    <li> <a href="#prob_rejected_criteria" data-toggle="tab">Rejected Criteria</a> </li>
	    </ul>
	    <div class="tab-content">
	    	<div id="prob_active_criteria" class="tab-pane active">
			</div>
			<div id="prob_pending_criteria" class="tab-pane">
			</div>
			<div id="prob_rejected_criteria" class="tab-pane">
			</div>
    	</div>
	</div>
</div>