$background_col:  #F9F9F9;
$font_col:        #555555;

$margin_mini:    5px;
$margin_large:    60px;
$padding_small:   10px;

$border_radius_small:   10px;
$border_radius_large:   30px;

#main{
  background-color: $background_col !important;
  color:            $font_col !important;
  margin-top:       $margin_large;
  padding:          $padding_small;
  border-radius:    $border_radius_small;
}

.decoration{
  border-radius:    $border_radius_small;
}

.hr{
  margin:           $margin_mini 0 !important;
}
